<!-- ContactUs start -->
<div style="width: 100%; padding:27px 0; background-color: #eee; text-align: center; font-size: 14px; font-family: Helvatica;line-height: 1.3;color:#000;">

  <p style='font-size:16px; letter-spacing: 2px; font-weight: 600;margin-bottom: 7px;text-transform:uppercase; font-family: Helvatica;'>NEED HELP?</p>

  <p style='margin-bottom:28px;'>You can find information in our <a href='https://sg-eshop.chanel.com/pages/faq' style='color:#000;font-weight:600;text-decoration: underline;'>FAQs</a>.</p>

  <p style='font-size:16px; letter-spacing: 2px; font-weight: 600;margin-bottom: 7px; text-transform:uppercase; font-family: Helvatica;'>Contact us</p>

  <p style='margin-bottom:20px;'>Monday to Friday (except Public Holidays)<br>
    Available 10:00 am - 7:00 pm</p>

  <p><a href='mailto:e-shop-sg@chanel.com.sg' style='color:#000;font-weight:600;text-decoration: underline !important;'><b>Email</b></a> or <a href='tel:+6593855242' style='color:#000;font-weight:600; text-decoration: underline !important;'><b>call +65 9385 5242</b></a></p>
</div>
<!-- ContactUs end -->