<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <title>Order Email</title>
    <style type="text/css">
    /* Font */
      @font-face {
        font-family: ABChanelCorpo;
        src: url("https://shopee-item-images-production.s3-ap-southeast-1.amazonaws.com/ABChanelCorpo-Regular.otf")
        format("opentype");
      }
      
      * {
        font-family:Helvetica, Arial, sans-serif;
      }

      body {
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
      }

      table {
        border-spacing: 0;
      }

      table td {
        border-collapse: collapse;
      }

      .ExternalClass {
        width: 100%;
      }

      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
        line-height: 100%;
      }

      .ReadMsgBody {
        width: 100%;
        background-color: #ebebeb;
      }

      table {
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
      }

      img {
        -ms-interpolation-mode: bicubic;
      }

      .yshortcuts a {
        border-bottom: none !important;
      }

      @media screen and (max-width: 599px) {
        table[class="force-row"],
        table[class="container"] {
          width: 100% !important;
          max-width: 100% !important;
        }
      }

      @media screen and (max-width: 400px) {
        td[class*="container-padding"] {
          padding-left: 6px !important;
          padding-right: 6px !important;
        }
      }

      footer a {
        color: #aaaaaa !important;
        text-decoration: underline;
      }

    /* Footer */
      *{
        list-style: none;
        padding: 0;
        margin: 0;
      }


      .mobile-show{
        display: none !important;
      }

      @media screen and (max-width:540px) {
        .footerMenu{
          display: flex !important;
          flex-direction: column !important;
        }
        .footerMenu > td{
          width: 100% !important;
        }
        .footerMenu > td:last-child{
          margin-top: 40px !important;
        }
        .mobile-none{
          display:none !important;
        }
        .mobile-show{
        display: block !important;
      }
      }

      a{
        color: #000 ;
        text-decoration: none;
      }

    </style>
  </head>
  <body style="margin:0; padding:0;font-family:Helvetica" bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0;" color='#000'>
      <tr>
        <td align="center" valign="top" bgcolor="#F0F0F0"  style="background-color: #F0F0F0;" >
          <table border="0" width="600" cellpadding="0" cellspacing="0" class="container" style="width: 600px; max-width: 600px;border-top:8px solid #000;">
            <tr>
              <td class="container-padding content" align="left" style="padding-left: 24px; padding-right: 24px; padding-top: 12px; padding-bottom: 12px; background-color: #ffffff; color:#000;">
                <div style="padding: 15px; text-align: center;">
                  <img src="https://img.shoplineapp.com/media/image_clips/6178fd44e643a40026aa75eb/original.png?1635319108" alt="CHANEL">
                </div>
                <br/>
                <p style="text-align:center; text-transform:uppercase;font-size:18px; letter-spacing:2px; font-weight:600; margin-bottom:39px;">password reset</p>
                <div style="font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:23px;text-align:left;color:#333333">
                  <p style="margin-bottom:23px;">Dear {{customer.name}},</p>

                  <p style="margin-bottom:23px;">We received your CHANEL E-SHOP password reset request.</p>

                  <p style="margin-bottom:23px;">To reset your password, please visit: <a href={{notification.url}} style='text-decoration: underline !important;'>{{notification.url}}</a></p>

                  <p style="margin-bottom:23px;">If this link does not work, copy and paste it into your browser's address field. For security purposes, this link will expire in 24 hours or after you reset your password.</p>

                  <p style="margin-bottom:23px;">If you did not request this change or if you have further questions, please contact <a style='color:#000 !important;'>e-shop-sg@chanel.com.sg</a></p>

                </div>
                <br/>
                <!-- ContactUs start -->
                <div style="width: 100%; padding:27px 0; background-color: #eee; text-align: center; font-size: 14px; font-family: Helvatica;line-height: 1.3;">

                  <p style='font-size:16px; letter-spacing: 2px; font-weight: 600;margin-bottom: 7px;text-transform:uppercase;'>NEED HELP?</p>

                  <p style='margin-bottom:28px;'>You can find information in our <a href='https://sg-eshop.chanel.com/pages/faq' style='color:#000;font-weight:600;text-decoration: underline;'>FAQs</a>.</p>

                  <p style='font-size:16px; letter-spacing: 2px; font-weight: 600;margin-bottom: 7px; text-transform:uppercase;'>Contact us</p>

                  <p style='margin-bottom:20px;'>Monday to Friday (except Public Holidays)<br>
                    Available 10:00 am - 7:00 pm</p>

                  <p><a href='mailto:e-shop-sg@chanel.com.sg' style='color:#000;font-weight:600;text-decoration: underline !important;'><b>Email</b></a> or <a href='tel:+6593855242' style='color:#000;font-weight:600; text-decoration: underline !important;'><b>call +65 9385 5242</b></a></p>
                </div>
                <!-- ContactUs end -->
                <p style='font-size: 11px;line-height: 1.3; margin-top: 45px;'>Information about the collection and processing of your personal data by CHANEL, including your data privacy rights, can be found in our <a href='https://services.chanel.com/en_SG/privacy'style='text-decoration: underline; color:#000 !important;'>Privacy Policy</a> (<a style="color:#000 !important;">www.chanel.com</a>).</p>
                <br/>
              </td>
            </tr>
            <!-- Footer start -->
            <tr>
              <td id='Footer' bgcolor='#000' style='color:#fff;padding: 54px 40px 0px;' border="0" >
                <table cellpadding="0" cellspacing="0" width="100%" border="0">
                    <tr>
                      <td colspan='2' align='center' width='100%' style='font-size: 22px; padding-bottom: 60px; font-family: "ABChanelCorpo";' >
                        <img src="https://img.shoplineapp.com/media/image_clips/6178fcd4c669fd001dcbb6cd/original.png?1635318996" alt="CHANEL">
                      </td>
                    </tr>
                
                    <tr valign='top' class='footerMenu' style="font-size:14px;" border="0" >
                      <td border="0" width='60%'>
                        <table cellsp0cing="0" cellpadding="0" border="0" width='100%'>
                          <tr height='30' valign='top'  style='font-size: 12px ;'>
                            <td style='font-family: "ABChanelCorpo" ,Helvetica;'>EXPLORE <a style='color: #fff;font-family: "ABChanelCorpo" ,Helvetica;'>CHANEL.COM</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a  href='https://www.chanel.com/sg/haute-couture/'  style='color:#9B9B9B !important;text-decoration: none;'>Haute Couture</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://www.chanel.com/sg/fashion/'  style='color:#9B9B9B !important; text-decoration: none;'>Fashion</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://www.chanel.com/sg/high-jewellery/'  style='color:#9B9B9B !important; text-decoration: none;'>High Jewelry</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://www.chanel.com/sg/watches/'  style='color:#9B9B9B !important; text-decoration: none;'>Watches</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://www.chanel.com/sg/eyewear/'  style='color:#9B9B9B !important; text-decoration: none;'>Eyewear</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://www.chanel.com/sg/fragrance/'  style='color:#9B9B9B !important; text-decoration: none;'>Fragrance</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://www.chanel.com/sg/makeup/'  style='color:#9B9B9B !important; text-decoration: none;'>Makeup</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://www.chanel.com/sg/skincare/'  style='color:#9B9B9B !important; text-decoration: none;'>Skincare</a></td>
                          </tr>
                        </table>
                        <!-- mobile version start -->
                        <table width='100%' border="0" class='mobile-show' style="padding:40px 0 0 0;display:none;">
                          <tr height='30' valign='top' >
                            <td style='font-family: "ABChanelCorpo",Helvetica;font-size: 12px;'>ONLINE SERVICES</td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://www.chanel.com/sg/storelocator/'  style='color:#9B9B9B !important; text-decoration: none;'>Store Locator</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://sg-eshop.chanel.com/users/'  style='color:#9B9B9B !important; text-decoration: none;'>My Account</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://sg-eshop.chanel.com/about/terms'  style='color:#9B9B9B !important; text-decoration: none;'>Returns</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://sg-eshop.chanel.com/pages/faq'  style='color:#9B9B9B !important; text-decoration: none;'>FAQ</a></td>
                          </tr>
                        </table>
                        <!-- mobile version  end -->
                      </td>
                      <td border="0" width='40%'  class='mobile-none'>
                        <table width='100%' border="0" >
                          <tr height='30' valign='top' >
                            <td style='font-family: "ABChanelCorpo",Helvetica;font-size: 12px;'>ONLINE SERVICES</td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://www.chanel.com/sg/storelocator/'  style='color:#9B9B9B !important; text-decoration: none;'>Store Locator</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://sg-eshop.chanel.com/users'  style='color:#9B9B9B !important; text-decoration: none;'>My Account</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://sg-eshop.chanel.com/about/terms'  style='color:#9B9B9B !important; text-decoration: none;'>Returns</a></td>
                          </tr>
                          <tr>
                            <td height='28'><a href='https://sg-eshop.chanel.com/pages/faq'  style='color:#9B9B9B !important; text-decoration: none;'>FAQ</a></td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr><td height='27'></td></tr>
                    <tr width='100%' height='100' style="font-size: 12px; line-height: 1.5;">
                      <td style='color:#9B9B9B !important;border-top:1px solid #333333;' align="center" colspan="2">
                        <p style="color:#9B9B9B !important;">CHANEL PTE LTD <br><a style="color: #9B9B9B !important;">501 Orchard Road #15-01</a> Wheelock Place Singapore 238880</p>
                        <a href="https://services.chanel.com/en_SG/privacy" style='color:#9B9B9B !important; line-height: 2.5; text-decoration: underline;'>Privacy Policy</a>
                      </td>
                    </tr>
                </table>
                
              </td>
            </tr>
            <!-- Footer end -->
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>