<p style="font-size: 11px; line-height: 1.3; margin-top: 45px;background-color:#fff; color: #000;" >
  Information about the collection and processing of your personal data by CHANEL, including your
  data privacy rights, can be found in our
  <a
    href="https://services.chanel.com/en_SG/privacy"
    style="text-decoration: underline; color: #000 !important"
    >Privacy Policy</a
  >
  (<a style="color: #000 !important">www.chanel.com</a>).
</p>
